<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Login/Logout</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="page-header">
    <h1>Password reset</h1>
  </div>
  <div class="container-fluid">
      {% block content %}{% endblock %}
  </div>
</body>
</html>



<!-- The page_obj is a Paginator object that will exist if pagination is 
  being used on the current page. It allows you to get all the information 
  about the current page, previous pages, how many pages there are, etc. -->