{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %}


<!-- The important thing to note here is that variables are named with the keys that we pass into the context dictionary 
    in the render() function of our view (see sample below). Variables will be replaced with their associated values when 
    the template is rendered.  -->

<!--You can easily recognise template variables and template tags (functions) -
     variables are enclosed in double braces ({{ num_books }}), and tags are enclosed in single 
     braces with percentage signs ''.  -->